header{
    border: dotted;
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 3em;
    margin-bottom: 3em;
}

div.titre{
    border: solid;
    padding: 1.5em;
    margin: 2em;
    float:left;
    width:60;
}

div.soustitre{
    border: dotted;
    padding: 1.5em;
    margin: 2em;
    margin-left:50%; 
    text-align: center;
}

table{
    border:solid 2px;
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%
}

tr{
    margin-bottom: 0.4em;
}

th{
    border: solid 1px black;
    padding:0.4em;
}

td{
    border: solid 1px black;
    padding: 0.4em;
    text-align: center;
}

label {
    display: inline-block;
    width: 10em;
    text-align: left;
    font-weight: bold;
}

main{
    margin-top: 4.55em;
    margin-bottom: 1em;
    border: solid 1px black;
    margin-left: 25%;
    margin-right: 25%;
}

div.input{
    display: flex;
    margin: 2em;
    align-items: center;
    justify-content: center;
}

input.butval{
    background-color: black;
    color: white;
    border:none;
    font-size: 1em;
    width: 6em;
    margin-left : 1em;
}

#onglet{
    list-style-type : none;
    margin-left: -2.5em;
    margin-top: -1.6em;
}

#onglet li
{
    float : left;
    height : 1.5em;
    background-color: white;
    font-weight: bold;
    margin-left: -1px;
    border : 1px solid black;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#onglet li:hover{
    cursor: pointer;
}

#onglet #actif{
    background-color: black;
    color: white;
}

iframe {
    border: none;
    width : 100%;
    height: 25em;
}

body.gestion{
    margin-left: 3em;
    margin-top: 2em;
    margin-right: 3em;
}

a{
    text-decoration : none;
    color:black;
}

p.valide{
    border: 1px solid black;
    background-color: lime;
    text-align: center;
    padding: 1em;
    font-weight: bold; 
}

p.invalide{
    border: 1px solid black;
    background-color: red;
    text-align: center;
    padding: 1em;
    font-weight: bold; 
}

div.gauche{
    display: inline-block;
    width: 50%;
    height: 40%;
    vertical-align: top;
}

div.droite{
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 10%;
    height: 40%;
    font-size: small;
}