header{
    border: dotted;
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 3em;
    margin-bottom: 3em;
}

div.titre{
    border: solid;
    padding: 1.5em;
    margin: 2em;
    float:left;
    width:60;
}

div.soustitre{
    border: dotted;
    padding: 1.5em;
    margin: 2em;
    margin-left:50%; 
}

table{
    border:solid 2px;
    border-collapse: collapse;
    margin-left: 4em;
    margin-bottom: 1em;
    width: calc(100% - 8em);
}

th{
    background-color: #aa66aa;
    color: white;
    border: solid 1px black;
    padding:0.4em;
}

td{
    border: solid 1px black;
    padding: 1em;
}

label {
    display: inline-block;
    width: 8em;
    text-align: left;
}

div{
    margin-bottom: 1em;
}

div.droite{
    width: 50%;
    float: right;
}

input.submit{
    background-color: purple; 
    color :white;
    float:right;
    width: 10em;
}

label.gris{
    background-color: grey;
    color:white; 
    margin-left: 8em;
    width: auto;
    padding: 0.4em;
}

p.email{
    margin-left: 9em;
}

a.pdf{
    color: black;
    text-decoration: none;
}