header{
    border: dotted;
    margin-right: 6em;
    margin-left: 6em;
    margin-top: 3em;
    margin-bottom: 3em;
}

div.titre{
    border: solid;
    padding: 1.5em;
    margin: 2em;
    float:left;
    width:60;
}

div.soustitre{
    border: dotted;
    padding: 1.5em;
    margin: 2em;
    margin-left:50%; 
    text-align: center;
}

table{
    border-collapse: collapse;
    margin-left: 4em;
    margin-bottom: 1em;
    width: calc(100% - 8em);
}

th{
    background-color: #70aed3;
    color: white;
    border: solid 1px white;
    padding:0.4em;
    text-align: left;
    font-size: 0.75em; 
}

td{
    border: solid 2px black;
    padding: 0.75em;
    font-size: 0.75em; 
}

label {
    display: inline-block;
    width: 8em;
    text-align: left;
}

div{
    margin-bottom: 1em;
}

div.droite{
    width: 50%;
    float: right;
}

input.submit{
    background-color: purple; 
    color :white;
    float:right;
    width: 10em;
}

p{
    float: inline-start;
}